In [3]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm

In [4]:
df = pd.read_csv("https://kasets.art/QdsyoF")
df.head()

   mk_share  payback_customer
0        15                24
1        14                20
2        18                25
3        20                28
4        10                15

In [5]:
x = df.mk_share
y = df.payback_customer
x_const = sm.add_constant(x)
lr = sm.OLS(y, x_const).fit()
print(lr.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       payback_customer   R-squared:                       0.746
Model:                            OLS   Adj. R-squared:                  0.725
Method:                 Least Squares   F-statistic:                     35.31
Date:                Tue, 18 Feb 2025   Prob (F-statistic):           6.79e-05
Time:                        14:00:57   Log-Likelihood:                -34.603
No. Observations:                  14   AIC:                             73.21
Df Residuals:                      12   BIC:                             74.48
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.1905      3.555     -0.335      0.744      -8.937       6.556
mk_share       1.3569      0.228      5.942      0.000       0.859       1.854
==============================================================================
Omnibus:                        0.988   Durbin-Watson:                   0.824
Prob(Omnibus):                  0.610   Jarque-Bera (JB):                0.778
Skew:                          -0.509   Prob(JB):                        0.678
Kurtosis:                       2.455   Cond. No.                         67.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\Niji-elitebook830g8\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\scipy\stats\_axis_nan_policy.py:418: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=14 observations were given.
  return hypotest_fun_in(*args, **kwds)

In [ ]:
# F_cal
# F_crit
# p_val
sigma = 0.01
f_crit = stats.t.isf()