## ข้อที่ 3

In [1]:
import numpy as np
import pandas as pd
import statistics as stat

In [2]:
df_exam = pd.read_csv('https://raw.githubusercontent.com/kinpkt/catlover-cs131-practice/refs/heads/main/practice_dataset/exam_data.csv')
df_exam.head()

   student_id gender  age  gpax  math1  math2  sci  phy  soc  eng  chn  jpn
0       42560      m   18  3.75      1      1    1    1    0    1    0    0
1       42572      f   18  3.82      1      1    0    1    1    1    0    1
2       42553      f   18  3.90      1      0    0    0    0    1    0    0
3       42549      f   21  4.00      0      0    1    0    1    1    0    1
4       43390      m   25  1.23      1      0    0    0    1    0    0    0

อายุเฉลี่ยของนักเรียนที่สอบในสนามสอบนี้เป็นเท่าใด

In [5]:
age_mean = df_exam['age'].mean()
age_mean

np.float64(19.74)

ส่วนเบี่ยงเบนมาตรฐานของเกรดเฉลี่ยของนักเรียนที่สมัครเป็นเท่าใด

In [12]:
gpa_std = np.std(df_exam['gpax'])
gpa_std

np.float64(0.8862602100963352)

นักเรียนที่สอบ ณ สนามสอบแห่งนี้ สมัครสอบวิชาใดมากที่สุด สมัครทั้งหมดกี่คน

In [18]:
dict_sub = {'math1': sum(df_exam['math1']), 
            'math2': sum(df_exam['math2']),
            'sci': sum(df_exam['sci']),
            'phy': sum(df_exam['phy']),
            'soc': sum(df_exam['soc']),
            'eng': sum(df_exam['eng']),
            'chn': sum(df_exam['chn']),
            'jpn': sum(df_exam['jpn']),
}
print(f"{max(dict_sub)}: {max(dict_sub.values())}")

soc: 31

นักเรียนที่สอบ ณ สนามสอบแห่งนี้ สมัครสอบวิชาใดน้อยที่สุด สมัครทั้งหมดกี่คน

In [20]:
print(f"{min(dict_sub)}: {min(dict_sub.values())}")

chn: 17

นักเรียนในสนามสอบนี้ส่วนมากเป็นเพศใด และทั้งสองเพศมีจํานวนต่างกันอยู่กี่คน

In [28]:
men = sum(df_exam['gender'] == 'm')
women = sum(df_exam['gender'] == 'f')
print(men, women)

if women > men: print(f"ผู้หญิงมากกว่าผู้ชาย {women-men} คน")
elif men > women: print(f"ผู้ชายมากกว่าผู้หญิง {men-women} คน")
else: print("ผู้หญิงเท่ากับผู้ชาย")

29 21
ผู้ชายมากกว่าผู้หญิง 8 คน

อัตราส่วนของนักเรียนเพศชายต่อนักเรียนเพศหญิงเป็นเท่าใด

In [33]:
print(f"ชาย {men / len(df_exam) * 10} : {women / len(df_exam) * 10} หญิง")

ชาย 5.8 : 4.2 หญิง

นักเรียนที่สอบ ณ สนามสอบแห่งนี้สมัครสอบวิชาคณิตศาสตร์ 1 มากกว่าคณิตศาสตร์ 2 หรือไม่

In [39]:
if sum(df_exam.math1) > sum(df_exam.math2): 
    print("yes") 
else: print("no")

yes

ในบรรดาหมวดวิชาภาษา (อังกฤษ, จีน และญี่ปุ่น) นักเรียนในสนามสอบนี้สมัครวิชาใดมากที่สุด

In [40]:
eng = dict_sub['eng']
chn = dict_sub['chn']
jpn = dict_sub['jpn']

if eng > chn and eng > jpn: print("eng")
elif chn > eng and chn > jpn: print("chn")
else: print("jpn")

jpn