## ข้อที่ 2

In [18]:
import numpy as np
import pandas as pd
import statistics as stat

In [19]:
df_score = pd.read_csv("https://raw.githubusercontent.com/kinpkt/catlover-cs131-practice/refs/heads/main/practice_dataset/calculus_student_scores.csv")
df_score.head()

  calculus_scores  student_count
0           30-40              1
1           41-50              1
2           51-60              9
3           61-70             19
4           71-80             22

In [32]:
df_score[['start', 'to']] = df_score['calculus_scores'].str.split("-", expand=True).astype(int)
df_score['mid'] = (df_score['start'] + df_score['to']) / 2
df_score['lower'] = df_score['start'] - 0.5
df_score['upper'] = df_score['to'] + 0.5
df_score['stu_cumsum'] = df_score['student_count'].cumsum()
df_score

  calculus_scores  student_count  from   to   mid  lower  upper  stu_cumsum
0           30-40              1    30   40  35.0   29.5   40.5           1
1           41-50              1    41   50  45.5   40.5   50.5           2
2           51-60              9    51   60  55.5   50.5   60.5          11
3           61-70             19    61   70  65.5   60.5   70.5          30
4           71-80             22    71   80  75.5   70.5   80.5          52
5           81-90              5    81   90  85.5   80.5   90.5          57
6          91-100              3    91  100  95.5   90.5  100.5          60

ค่าเฉลี่ยเลขคณิตของคะแนนรวมของนิสิตเท่ากับเท่าใด

In [26]:
n = df_score['student_count'].sum()
mean = sum(df_score.mid * df_score.student_count) / n
mean

np.float64(69.99166666666666)

ค่ามัธยฐานของคะแนนรวมของนิสิตเท่ากับเท่าใด

In [42]:
e_med = 3
Le_med = df_score.lower.iloc[e_med]
fe_med = df_score.student_count.iloc[e_med]
I = np.ceil(df_score.upper[e_med] - df_score.lower[e_med])
med = Le_med + (( (n/2) - df_score.stu_cumsum.iloc[e_med-1] ) / fe_med) * I
med

np.float64(70.5)

ค่าฐานนิยมของคะแนนรวมของนิสิตเท่ากับเท่าใด

In [45]:
e_mode = 4
Le_mode = df_score.lower.iloc[e_mode]
de_min = df_score.student_count[e_mode] - df_score.student_count[e_mode-1]
de_max = df_score.student_count[e_mode] - df_score.student_count[e_mode+1]

mode = Le_mode + (de_min / (de_min + de_max)) * I
mode

np.float64(72.0)

หากในวิชานี้ตัด F จากคะแนนที่ตํ่ากว่า Q2 จะมีนิสิตที่ได้ F ประมาณกี่คน* (ทศนิยมปัดตามหลัก)

In [46]:
#q2 = med
print(np.ceil(med))

71.0

ถ้านิสิตที่ได้คะแนนมากกว่า P85 หรือได้81 คะแนนขึ้นไปจะได้ A จะมีนิสิตที่ได้ A ประมาณกี่คน* (ทศนิยมปัดตามหลัก)

In [69]:
index_p85 = n * 85 / 100 # e = 4 cumsum
e_p85 = 4
Le_p85 = df_score.lower.iloc[e_p85]
fe_p85 = df_score.student_count.iloc[e_p85]
p85 = Le_p85 + ((index_p85 - df_score.stu_cumsum.iloc[e_p85-1]) / fe_p85) * I
print(f"P85 {p85}")

total = 0
for i in df_score.index:
    if df_score.to.iloc[i] >= round(p85) or df_score.to.iloc[i] >= 81:
        total += df_score.student_count[i]
print(f"Total A student: {total}")

P85 80.04545454545455
Total A student: 30

การแจกแจงของคะแนนนิสิตทั้งหมดที่อยู่ในชุดข้อมูลนี้มีลักษณะอย่างไร

In [70]:
df_score

  calculus_scores  student_count  from   to   mid  lower  upper  stu_cumsum
0           30-40              1    30   40  35.0   29.5   40.5           1
1           41-50              1    41   50  45.5   40.5   50.5           2
2           51-60              9    51   60  55.5   50.5   60.5          11
3           61-70             19    61   70  65.5   60.5   70.5          30
4           71-80             22    71   80  75.5   70.5   80.5          52
5           81-90              5    81   90  85.5   80.5   90.5          57
6          91-100              3    91  100  95.5   90.5  100.5          60

In [72]:
print(f"Mean: {mean}")
print(f"Median: {med}")
print(f"Mode: {mode}")
print(f"ตารางนี้มีการแจกแจงแบบเบ้ซ้าย")

Mean: 69.99166666666666
Median: 70.5
Mode: 72.0
ตารางนี้มีการแจกแจงแบบเบ้ซ้าย