# แบบฝึกหัด 2

---

จากข้อมูล titanic.csv ให้ทำการวิเคราะห์ข้อมูลเบื้องต้นเกี่ยวกับคอลัมน์ cabin  
โดยแผนภาพด้านล่างนี้เป็นตำแหน่งของ cabin ตามตัวอักษรตัวแรกของรหัส cabin ที่บันทึกในชุดข้อมูล

![titanic-cabin](https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Olympic_%26_Titanic_cutaway_diagram.png/800px-Olympic_%26_Titanic_cutaway_diagram.png)

ให้นิสิตสร้างคอลัมน์เพิ่ม โดยคอลัมน์ที่เพิ่มมานี้ จะเก็บข้อมูลของตัวอักษรตัวแรกที่ปรากฏในคอลัมน์ Cabin เช่น  
- หากในคอลัมน์ Cabin เป็นค่า "C123" ในคอลัมน์ที่สร้างจะบันทึก "C"  
- หากในคอลัมน์ Cabin เป็นค่า "C23 C25 C27" ในคอลัมน์ที่สร้างจะบันทึก "C"
- หากในคอลัมน์ Cabin เป็นค่า "B58 B60 C2" ในคอลัมน์ที่สร้างจะบันทึก "B"
- หากในคอลัมน์ Cabin เป็นค่า "F2" ในคอลัมน์ที่สร้างจะบันทึก "F"
- หากในคอลัมน์ Cabin เป็นค่า NaN ในคอลัมน์ที่สร้างจะบันทึก NaN

จากนั้นให้นิสิตเขียนโค้ดเพื่อตอบคำถามในแต่ละข้อ

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

นิสิตแสดงวิธีสร้างคอลัมน์

In [ ]:
#your code
df["cabin_letter"] = df["Name"].str[0]

1. ในแต่ละตัวอักษร Cabin มีจำนวนผู้โดยสารกี่คน และมีจำนวน NaN เท่าไหร่

In [ ]:
#your code # value_count()
print(df["Cabin"].fillna("NaN").str[0].value_counts().sort_index())
print("NaN: ", df["Cabin"].isna().sum())

Cabin
A     15
B     47
C     59
D     33
E     32
F     13
G      4
N    687
T      1
Name: count, dtype: int64
NaN:  687

2. ในแต่ละตัวอักษร Cabin มีจำนวนผู้โดยสารที่รอดและเสียชีวิตอย่างละเท่าไหร่ cabin ใดมีจำนวนผู้เสียชีวิตมากที่สุด

In [ ]:
#your code
df["CabinLetter"] = df["Cabin"].str[0]
cabin_survived = df.groupby(["CabinLetter", "Survived"]).size().unstack()
print(cabin_survived)
print("============================")
print("Cabin ทีมีคนเสียชีวิตมากที่สุด", cabin_survived[0].idxmax())

Survived        0     1
CabinLetter
A             8.0   7.0
B            12.0  35.0
C            24.0  35.0
D             8.0  25.0
E             8.0  24.0
F             5.0   8.0
G             2.0   2.0
T             1.0   NaN
============================
Cabin ทีมีคนเสียชีวิตมากที่สุด C

3. cabin ใดมีค่า สัดส่วน จำนวนผู้รอดชีวิตหารด้วยจำนวนผู้เสียชีวิต สูงสุด

In [ ]:
# your code

# print(df.groupby("CabinLetter")["Survived"].value_counts().unstack(fill_value=0))
stats = df.groupby("CabinLetter")["Survived"].value_counts().unstack(fill_value=0)
test = stats[1] / stats[0]
print(test.idxmax())

D

4. cabin ใดมีค่าเฉลี่ยราคาตั๋ว (Fare) สูงสุด

In [ ]:
#your code df[["Pclass", "Fare"]]
print(df.groupby("Cabin")["Fare"].mean().idxmax())

B101

5. จงแสดงค่าเฉลี่ยราคาตั๋ว (Fare) ของผู้รอดชีวิต และผู้เสียชีวิต ในแต่ละ cabin หากเปรียบเทียบราคาเฉลี่ยของผู้ที่รอดและเสียชีวิตจะพบว่า

In [ ]:
#your code
print(df.groupby(["CabinLetter", "Survived"])["Fare"].mean().unstack())

Survived             0           1
CabinLetter
A            35.496350   44.341071
B            57.137500  132.832026
C            99.972396  100.274046
D            53.770825   58.356176
E            43.715625   46.797050
F            11.340000   23.294787
G            10.462500   16.700000
T            35.500000         NaN

6. ในแต่ละอักษร cabin มีจำนวนผู้โดยสารแยกตาม Pclass อย่างละกี่คน

In [ ]:
#your code
print(df.groupby([df["CabinLetter"], "Pclass"]).size().unstack())

Pclass          1    2    3
CabinLetter
A            15.0  NaN  NaN
B            47.0  NaN  NaN
C            59.0  NaN  NaN
D            29.0  4.0  NaN
E            25.0  4.0  3.0
F             NaN  8.0  5.0
G             NaN  NaN  4.0
T             1.0  NaN  NaN